@if (!Context.User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a asp-controller="Empleados"
           asp-action="PerfilEmpleado"
           class="nav-link text-primary">
            Log In
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a asp-controller="Empleados"
           asp-action="PerfilEmpleado"
           class="nav-link text-primary">
            Perfil
        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="Managed"
           asp-action="Logout"
           class="nav-link text-danger">
            Log Out
            <span class="text-primary">
                @Context.User.Identity.Name
            </span>
        </a>
    </li>
}